{% extends "VR_base.html" %}
{% block title %}A-Frame Simulation{% endblock %}
{% block content %}
		<div class="container">
			<a-scene look-controls wasd-controls keyboard-shortcuts="enterVR: true">
				<a-camera></a-camera>
				<a-entity ngl-mol = "mol_entry: rcsb://1GH1.mmtf;"></a-entity>
				<!-- <a-entity ngl-mol = "mol_entry: rcsb://1GH1.mmtf;representation:ball+stick"></a-entity> -->
			</a-scene>
		</div>
{% endblock %}
{% block head %}
<!-- <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
		  <script src="https://unpkg.com/aframe-orbit-controls@1.0.0/dist/aframe-orbit-controls.min.js"></script>
	    <script src="https://cdn.rawgit.com/KJStrand/ngl/AFRAME-NGL/dist/Aframe_component.js"></script>
	    <script src="https://cdn.rawgit.com/KJStrand/ngl/AFRAME-NGL/dist/ngl.dev.js"></script>
	    <style>
	    .a-loader-title {color: white;}
		</style> -->
{% endblock %}