{% extends "base.html" %}
{% block title %}Background Information{% endblock %}
{% block backgroundisactive %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center align-items-center justify-content-center">
		<h1>BACKGROUND</h1><br>
	</div>
	<div class="row text-center align-items-center justify-content-center">
		<span><a href="#history">history</a> · <a href="#celiac_disease">celiac disease</a> · <a href="#gluten">gluten</a> · <a href="#kneading">kneading</a> · <a href="#yeast">yeast</a>
	</div>
	<div class="row" id="history">
		<h3>the history of bread</h3>
		<p>Bread is hella cool.<span class='footnote' data-toggle="tooltip" title="umm life."></span></p>
	</div>
	<div class="row" id="gluten">
		<h3>gluten</h3>
		<p>Gluten is a substance that gives elasticity to dough and helps it rise. It is found in wheat, rye, barley and oats. It is composed of two proteins, gliadin and glutenin.</p>
		<h4 id="celiac_disease">celiac disease</h4>
		<p>Celiac disease is “a condition caused by an abnormal sensitivity to <a href="#gluten">glute</a> in the diet.” (Hill, <i>Attack of the Gluten</i>) The immune system of people with this disease mistakenly identifies parts of gliadin and glutenin—the two proteins in gluten—as “foreign” and sends out lymphocytes to destroy these “foreign” epitopes. When partially digested gluten enters the bloodstream from the intenstine, a series of reactions triggered by the epitopes results in the release of cykotines, leading to inflammation of the intestinal lining. This causes symptoms such as abdominal paon, diarrhea, skin rashes, and, ultimately, severe intestinal damage.<span class='footnote' data-toggle="tooltip" title="Hill, Margaret. 'Attack of the Gluten.'' ChemMatters, Feb. 2012, pp. 9-11. American Chemical Society, <a href='www.acs.org/content/acs/en/education/ 
     resources/highschool/chemmatters/past-issues/archive-2011-2012/gluten.html'>www.acs.org/content/acs/en/education/ 
     resources/highschool/chemmatters/past-issues/archive-2011-2012/gluten.html</a>. Accessed 10 Apr. 2019."></span></p>
	</div>
	<div class="row" id="kneading">
		<h3>kneading</h3>
		<p>When bread dough is kneaded, the proteins are stretched out and aligned correctly with one another, which facilitates the formation of a network of hydrogen bonds within the dough.<span class='footnote' data-toggle="tooltip" title="Hill, Margaret. 'Attack of the Gluten.'' ChemMatters, Feb. 2012, pp. 9-11. American Chemical Society, <a href='www.acs.org/content/acs/en/education/ 
     resources/highschool/chemmatters/past-issues/archive-2011-2012/gluten.html'>www.acs.org/content/acs/en/education/ 
     resources/highschool/chemmatters/past-issues/archive-2011-2012/gluten.html</a>. Accessed 10 Apr. 2019."></span></p>
	</div>
	<div class="row text-center align-items-center justify-content-center" id="ingredients">
		<h2>INGREDIENTS</h2><br>
	</div>
	<div class="row text-center align-items-center justify-content-center">
		<span><a href="#flour">flour</a> · <a href="#water">water</a> · <a href="#salt">salt</a> · <a href="#sugar">sugar</a></span>
	</div>
	<div class="row" id="flour">
		<h3>flour</h3>
		<p><a href="#gluten">gluten</a>.</p>
	</div>
	<div class="row" id="water">
		<h3>water</h3>
		<p></p>
	</div>
	<div class="row" id="salt">
		<h3>salt</h3>
		<p></p>
	</div>
	<div class="row" id="sugar">
		<h3>sugar</h3>
		<p></p>
	</div>
	<div class="row text-center align-items-center justify-content-center" id="leavening_agents">
		<h2>LEAVENING AGENTS</h2><br>
	</div>
	<div class="row text-center align-items-center justify-content-center">
		<span><a href="#yeast">yeast</a> · <a href="#sourdough">sourdough starter</a> · <a href="#baking_soda">baking soda</a> · <a href="#baking_powder">baking powder</a> · </span>
	</div>
	<div class="row" id="yeast">
		<h3>yeast</h3>
		<p>Yeast are tiny single-celled organisms that feed on sugar in a process called <strong>fermentation</strong> to produce ethanol and carbon dioxide.<span class='footnote' data-toggle="tooltip" title="Ibid."></span> (* the carbon dioxide causes the dough to increase in volume and rise; the ethanol evaporates when the bread is baked.)</p>
		<br>
		<h4 id="yeast_honey">yeast + honey</h4>
	</div>
	<div class="row" id="sourdough">
		<h3>sourdough starter</h3>
		<p></p>
	</div>
	<div class="row" id="baking_soda">
		<h3>baking soda</h3>
		<p></p>
	</div>
	<div class="row" id="baking_powder">
		<h3>baking powder</h3>
		<p></p>
	</div>
</div>
{% endblock %}
{% block head %}
<style>
h2,h3,h4 {
	text-transform:uppercase;
	width:100%;
}
</style>

<style>
body {
    counter-reset: footnotecounter;
}

span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
}

span.footnote {
    color: #24B1E6;
}
</style>
{% endblock %}
{% block js %}
<script>
jQuery(document).ready(function() {
  jQuery('[data-toggle="tooltip"]').tooltip({html:true})
 });
</script>
{% endblock %}