{% extends "base.html" %}
{% block title %}Bibliography{% endblock %}
{% block bibliographyisactive %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center align-items-center justify-content-center">
		<h1>BIBLIOGRAPHY</h1>
	</div>
	<div class="row">
		<ul>
			<li><a href="https://www.rsc.org/images/BreadChemistry_tcm18-163980.pdf">Royal Society of Chemistry, "Bread Chemistry: On the Rise". Chemistry World. October 2009.</a></li>
			<li><a href="https://www.acs.org/content/acs/en/education/resources/highschool/chemmatters/past-issues/archive-2011-2012/gluten.html">American Chemical Society, "Attack of the Gluten". Margaret Hill. ChemMatters. February 2012</a></li>
			<li>Hoffman, Matt. "Creating Hover-Over Footnotes with Bootstrap." <i>HipHoff</i>, <a href="http://hiphoff.com/creating-hover-over-footnotes-with-bootstrap">hiphoff.com/creating-hover-over-footnotes-with-bootstrap</a>. Accessed 13 May 2019. </li>
			<li>uffstetler, Erin. "How to Get Baked Goods to Rise Without Yeast." <i>The Spruce Eats</i>, Dotdash, <a href="www.thespruceeats.com/yeast-substitute-for-baking-4140439">www.thespruceeats.com/yeast-substitute-for-baking-4140439</a>. Accessed 1 May 2019.</li>
			<li>"Leavening agent." <i>Encyclopædia Britannica</i>, 2016. <i>Encyclopedia Britannica</i>, <a href="www.britannica.com/topic/leavening-agent">www.britannica.com/topic/leavening-agent</a>. Accessed 22 Apr. 2019. </li>
			<!-- <li>RCSB <a href="https://www.rcsb.org/">Protein Data Bank</a>: <a href="https://www.rcsb.org/structure/1GH1">1GH1 (WHEAT NONSPECIFIC LIPID TRANSFER PROTEIN)</a>, <a href="http://www.rcsb.org/structure/5ZVL">5ZVL (WHEAT GLUTARREDOXIN)</a>.</li> -->
			<li>The Protein Data Bank E. Gincel, J.P. Simorre, A. Caille, D. Marion, M. Ptak, F. Vovelle (2000) <i>Three-dimensional structure in solution of a wheat lipid-transfer protein from multidimensional 1H-NMR data. A new folding for lipid carriers</i>, 226: 413-422. <a href="doi:10.2210/pdb1GH1/pdb">doi:10.2210/pdb1GH1/pdb</a></li>
			<li>The Protein Data Bank H.M. S.Q. Hu, X.M. Sun, M.R. Chen (2018) <i>Crystal Structure of Wheat Glutarredoxin</i>, 66: 12079-12087. <a href="doi:10.2210/pdb5ZVL/pdb">doi:10.2210/pdb5ZVL/pdb</a></li>
			<!-- <li>The Protein Data Bank H.M. Berman, J. Westbrook, Z. Feng, G. Gilliland, T.N. Bhat, H. Weissig, I.N. Shindyalov, P.E. Bourne (2000) <i>Nucleic Acids Research</i>, 28: 235-242. <a href="">doi:10.1093/nar/28.1.235</a></li> -->
			<li>AS Rose and PW Hildebrand. <i>NGL Viewer: a web application for molecular visualization</i>. Nucl Acids Res (1 July 2015) 43 (W1): W576-W579 first published online April 29, 2015. <a href="doi:10.1093/nar/gkv402">doi:10.1093/nar/gkv402</a></li>
			<!-- <li>The <a href="https://github.com/KJStrand/ngl">prototype NGL component for A-Frame</a> framework created by <a href="https://blog.bluepengu.in/a-new-scratchpad-for-science-e9901955db96">Kaden Strand</a>.</li> -->
			<li>favicon & logo designed by designed by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com/free-icon/bread_168523">Flaticon</a>.</li>
		</ul>
	</div>
</div>
{% endblock %}