{% extends "base.html" %}
{% block homeisactive %}active{% endblock %}
{% block content %}
<div class="container text-center">
	<div class="row align-items-center justify-content-center">
        <p style="font-size:100px; color:#000">LET'S GET THIS BREAD</p>
        <button id="enter_simulation" class="hover-btn" style="width:min-content"><span>ENTER SIMULATION</span></button>
    </div>
	<div class="row text-center align-items-center justify-content-center">
		<p style="font-size:18px;padding:35px"><a href="/">LET'S GET THIS BREAD</a> was sponsored by <a href="http://uhsbakingclub.herokuapp.com">UHS BAKING CLUB</a>!<span style="display:none">This is Isabella's chemistry project yeet</span></p>
	</div>
	<hr>
</div>
{% endblock %}
{% block js %}
<script>
$( "#enter_simulation" ).click(function() {
  window.location.href = "http://lets-get-this-bread.herokuapp.com/simulation";
});

</script>

<script>
	document.title = "LET'S GET THIS BREAD"
</script>
{% endblock %}
{% block head %}
<style>
.hover-btn {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.hover-btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hover-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.hover-btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.hover-btn:hover:after {
  opacity: 1;
  right: 10px;
}
</style>
<style>

.btn-outline-incub8 {
    color: var(--main-color) !important;
    background-color: transparent;
    background-image: none;
    border-color: var(--main-color) !important;
}

.btn-outline-incub8:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

hr {
	color: #656969;
	border-width: 2px;
}
</style>
{% endblock %}