{% extends "base.html" %}
{% block title %}Leavening Agents Experiment Data{% endblock %}
{% block experimentsisactive %}active{% endblock %}
{% block content %}
<div class="text-center">
	<h1>LEAVENING AGENTS EXPERIMENT - DATA</h1>
</div>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTmR2KfMzHlZfytr2ypEIWV2ALIc3kc4JAPJIwU-HzIDBae2QnyDVBdn_iyqB4V1NoZriC6sx0V_yhe/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" style="width: 100%; margin: 2.5%; padding: 1%; height: 600px;"></iframe>
{% endblock %}